/* CSS Document */
*{
	margin:0;
	padding:0;
	outline:none;
}
a,a img{
	text-decoration:none;
	border:none;
}

body{
	background:url(./imgs/bg_5.jpg) center -36px  no-repeat,#000000;
	font-family:Verdana, Geneva, sans-serif;
}

#wrap{
	position:relative;
	width:1000px;
	height:auto;
	overflow:hidden;
	margin:0px  auto  auto;
	top: 200px;
}
#wrap2{
	position:relative;
	width:1000px;
	height:auto;
	top: 200px;
	overflow:hidden;
	margin:0px  auto  auto;
	-webkit-border-bottom-right-radius: 7px;
-webkit-border-bottom-left-radius: 7px;
-moz-border-radius-bottomright: 7px;
-moz-border-radius-bottomleft: 7px;
border-bottom-right-radius: 7px;
border-bottom-left-radius: 7px;
	-moz-box-shadow: 0px 0px 10px #FFFFFF;
-webkit-box-shadow: 0px 0px 10px #FFFFFF;
box-shadow: 0px 0px 10px #FFFFFF;
}
#header{
	position:relative;
	float:left;
	width:100%;
	height:auto;
	margin-bottom:15px;
}
#online{
	background: url("imgs/status_1.png") no-repeat scroll left center transparent;
    color: #FFFFFF;
    float: right;
    font-size: 12px;
    margin: 12px 10px 0;
    padding-left: 15px;
    position: relative;
}
#search{
	position:relative;
	float:right;
	width:230px;
	height:25px;
	margin:5px  15px 0 0;
}
#search #s{
	border: 1px solid #CCCCCC;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 10px #CCCCCC;
    float: right;
    height: 25px;
    position: relative;
    width: 230px;
}
#search #submit{
	position:absolute;
	background:url(imgs/ser.png) no-repeat;
	width:22px;
	height:22px;
	right:2px;
	top:4px;
	border:none;
	text-indent:-999999999px;
	cursor:pointer;
}
#social{
	position: absolute;
    right: 45px;
    top: 10px;
    z-index: 99;
}

#logo{
	position:relative;
	float:left;
	width:200px;
	height:100px;
	box-shadow:1px 1px 10px #CCC;
	margin:15px 0 0 15px;
	display:none;
}

#nav{
	position:relative;
	float:left;
	width:99.5%;
	height:40px;
	margin-top:15px;
	background:#202020;
	border-radius:10px;
	margin-left:3px;
		-moz-box-shadow: 0px 0px 10px #666;
-webkit-box-shadow: 0px 0px 10px #666;
box-shadow: 0px 0px 10px #666;
}
#nav ul{
	float: left;
    list-style: none outside none;
    position: relative;
    width: 65%;
}
#nav li{
	position:relative;
	float:left;
	height:100%;
	font-weight:bold;
	border-right:1px solid #666;
	padding-right:10px;
}
#nav li:last-child{
	border-right:0px;
}
#nav a{
	position:relative;
	float:left;
	color:#fff;
	height:100%;
	padding:0 5px;
	line-height:35px;
	margin-left:10px;
	top: 2px;
	  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
}
#nav a:hover{	
	background:#636363;
	top: 2px;
	border-radius: 6px;    -moz-border-radius: 6px;    -webkit-border-radius: 6px;
}
#nav img{
	position:relative;
	float:left;
	color:#fff;
	top: 8px;
	padding:0 5px;
	line-height:35px;
	margin-left:10px
}
#nav a:hover{
	color:#CCC;
}

#content{
	position:relative;
	float:left;
	width:100%;
	height:auto;
	overflow:hidden;
	padding-bottom:15px;
	background:rgba(255,255,255,1);
}
#content .left{
	position:relative;
	float:left;
	width:690px;
	height:auto;
	overflow:hidden;
}
.bx-wrapper,.bx-viewport{
	position:relative;
	float:left;
	width:690px !important;
	max-width:690px !important;
}
#slider{
	position:relative;
	float:left;
	width:100%;
	height:250px;
	overflow:hidden;
}
#slider ul{
	float: left;
    height: 250px;
    list-style: none outside none;
    position: relative;
    width: 100%;
}
#slider li{
	width:100%;
	height:100%;
	position:relative;
	float:left;
}
#slider li img{
	width:100%;
	height:100%;
}

#sidebar{
	position:relative;
	float:right;
	width:290px;
	overflow:hidden;
	padding-bottom:10px;
}
#sidebar .widgets{
	position:relative;
	float:left;
	width:100%;
	height:auto;
	margin-top:15px;
}
#sidebar .title{
    background:#202020;
    border-radius: 5px 5px 0 0;
    clear: both;
    color: #FFFFFF;
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    padding: 10px 50px;
    position: relative;
}
#sidebar .content{
	position:relative;
	float:left;
	width:98%;
	height:auto;
	border:1px solid #ccc;
	border-radius:5px;
	font-size:12px;
}
#sidebar ul{
	list-style:none;
	position:relative;
	float:left;
	width:100%;
	padding-bottom:10px	
}
#sidebar  li{
	position:relative;
	float:left;
	margin-top:10px;
	width:95%;
	margin-left:5px;
}
#sidebar a{
	color:#000;
	  -o-transition:.5s;
  -ms-transition:.5s;
		-moz-transition:.5s;
	-webkit-transition:.5s;
}
#sidebar a:hover{
	color:#717171;
	background:#eeeeee;
		border-radius: 3px;    -moz-border-radius: 3px;    -webkit-border-radius: 3px;
}
.sections{
	position:relative;
	float:left;
	width:690px;
	height:auto;
	margin-top:15px;
}
.sections .main_title{
	position:relative;
	float:left;
	margin-left:20px;
	padding:10px 50px;
	font-size:20px;
	font-weight:bold;
	color:#fff;
	background:#202020;
	border-radius:5px 5px 0 0;	
	clear:both;
}

#section1 .block{
	position:relative;
	float:left;
	width:98%;
	height:auto;
	margin-bottom:10px;
	border:1px solid #CCC;
	border-radius:5px;
	padding:5px;
}
#section1 .feature{
	position:relative;
	float:left;
	width:150px;
	height:100px;
}
.feature img{
	width:100%;
	height:100%;
}
#section1 .title{
	position:relative;
	float:left;
	width:500px;
	font-weight:bold;
	margin-left:15px;
}
#section1 .content{
	position:relative;
	float:left;	color: #FFFFFF;	
	width:670px;	 /*background-image:url('images/contentbg2.png');*/	border-radius: 6px;    -moz-border-radius: 6px;    -webkit-border-radius: 6px;	background:#202020;
	margin-left: 15px;
	padding: 5px;
}#section1 .content_2{	position:relative;	float:left;	width:670px;	height:600px;	margin-left:15px;}
a.more{
	position:absolute;
	right:10px;
	bottom:5px;
	padding:5px 15px;
	background:#202020;
	border-radius:0 5px 5px 0;
	font-weight:bold;
	color:#fff;
}
#section2{
display:none;
}
#section2 .cont_title{
	position:relative;
	width:100%;
	border-bottom:1px solid #ccc;
	float:left;
	
}
#section2 .block{
	position:relative;
	float:left;
	width:315px;
	height:80px;
	overflow:hidden;
	margin-top:15px;
	margin-left:10px;
	font-size:13px;
}
#section2 .block .feature{
	position:relative;
	float:left;
	width:120px;
	height:70px;
}
#section2 .block .title,#section2 .block .content{
	float: left;
    font-weight: bold;
    margin-left: 15px;
    position: relative;
	color:#000;
    width: 170px;
}
#section2 .block .content{
	font-weight: normal;
}

#footer{
	position:relative;
	float:left;
	width:100%;
	height:50px;
	background:#202020;
}
#footer #copy{
	height:100%;
	position:relative;
	float:left;
	font-size:10px;
	color:#fff;
	text-transform:uppercase;
	line-height:50px;
	margin-left:10px;
}
#footer #pro{
	height:35px;
	width:120px;
	position:relative;
	float:right;
	margin-top:10px;
	margin-right:10px;
}

#formss{
	float: right;
    height: 90px;
    margin-right: 10px;
    margin-top: 40px;
    overflow: hidden;
    position: relative;
    width: 300px;
}
.form-1 {
    /* Size & position */
    width: 250px;
    padding: 10px;
    position: relative; /* For the submit button positioning */

    /* Styles */
    box-shadow: 
        0 0 1px rgba(0, 0, 0, 0.3), 
        0 3px 7px rgba(0, 0, 0, 0.3), 
        inset 0 1px rgba(255,255,255,1),
        inset 0 -3px 2px rgba(0,0,0,0.25);
    border-radius: 5px;
    background: white; /* Fallback */
    background: -moz-linear-gradient(#eeefef, #ffffff 10%);
    background: -ms-linear-gradient(#eeefef, #ffffff 10%);
    background: -o-linear-gradient(#eeefef, #ffffff 10%);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#eeefef), color-stop(0.1, #ffffff));
    background: -webkit-linear-gradient(#eeefef, #ffffff 10%);
    background: linear-gradient(#eeefef, #ffffff 10%);
}

.form-1 .field {
    position: relative; /* For the icon positioning */
}

.form-1 .field i {
    /* Size and position */
    left: 0px;
    top: 0px;
    position: absolute;
    height: 36px;
    width: 36px;

    /* Line */
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7);

    /* Styles */
    color: #777777;
    text-align: center;
    line-height: 32px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    pointer-events: none;
}

.form-1 input[type=text],
.form-1 input[type=password] {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    /* Size and position */
    width: 75%;
    padding: 5px 18px 5px 45px;

    /* Styles */
    border: none; /* Remove the default border */
    box-shadow: 
        inset 0 0 5px rgba(0,0,0,0.1),
        inset 0 3px 2px rgba(0,0,0,0.1);
    border-radius: 3px;
    background: #f9f9f9;
    color: #777;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

.form-1 input[type=text] {
    margin-bottom: 10px;
}

.form-1 input[type=text]:hover ~ i,
.form-1 input[type=password]:hover ~ i {
    color: #444242;
}

.form-1 input[type=text]:focus ~ i,
.form-1 input[type=password]:focus ~ i {
    color: #202020;
}

.form-1 input[type=text]:focus,
.form-1 input[type=password]:focus,
.form-1 button[type=submit]:focus {
    outline: none;
}

.form-1 .submit {
    /* Size and position */
    width: 45px;
    height: 45px;
    position: absolute;
    top: 10px;
    right: -25px;
    padding: 10px;
    z-index: 2;

    /* Styles */
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 
        0 0 2px rgba(0,0,0,0.1),
        0 3px 2px rgba(0,0,0,0.1),
        inset 0 -3px 2px rgba(0,0,0,0.2);
}

.form-1 .submit:after {
    /* Size and position */
    width: 10px;
    height: 10px;
    position: absolute;
    top: -2px;
    left: 30px;

    /* Styles */
    background: #ffffff;
    
    /* Other masks trick */
    box-shadow: 0 62px white, -32px 31px white;
}

.form-1 button {
    /* Size and position */
    width: 100%;
    height: 100%;
    margin-top: -1px;

    /* Icon styles */
    font-size: 1.4em;
    line-height: 1.75;
    color: white;

    /* Styles */
    border: none; /* Remove the default border */
    border-radius: inherit;
    background: #444242; /* Fallback */
    background: -moz-linear-gradient(#444242, #202020);
    background: -ms-linear-gradient(#444242, #202020);
    background: -o-linear-gradient(#444242, #202020);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#444242), to(#202020));
    background: -webkit-linear-gradient(#444242, #202020);
    background: linear-gradient(#444242, #202020);
    box-shadow: 
        inset 0 1px 0 rgba(255,255,255,0.3),
        0 1px 2px rgba(0,0,0,0.35),
        inset 0 3px 2px rgba(255,255,255,0.2),
        inset 0 -3px 2px rgba(0,0,0,0.1);

    cursor: pointer;
}

.form-1 button:hover,
.form-1 button[type=submit]:focus {
    background: #444242;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.form-1 button:active {
    background: #202020;
    box-shadow: 
        inset 0 0 5px rgba(0,0,0,0.3),
        inset 0 3px 4px rgba(0,0,0,0.3);
}

#loginedform{
    background: white;
	border: 1px solid #CCCCCC;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 10px #CCCCCC;
    width: 290px;
    height: 75px;
    opacity: 0.85;
}

#loginedbox{
    padding: 5px;
    font-size: 12px;
}

b.username{
    text-decoration: red underline;
    font-size: 12px;
}

#loading{
	visibility:hidden;
}

.button1 {
    padding: 10px 15px;
    background: #8e8e8e;
	cursor: pointer;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #676c71;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
} 
.button1:hover {
    background: #728091;
    border: solid 1px #576678;
    text-decoration: none;
}
.button1:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #5e6f82;
    border: solid 1px #3a495a;
}

.regdiv
 {
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
-moz-box-shadow: 0px 0px 6px #dbdbdb;
-webkit-box-shadow: 0px 0px 6px #dbdbdb;
box-shadow: 0px 0px 6px #dbdbdb;
/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
width:500px;
/*height:400px;*/
/*position: relative;
left: 100px;*/
margin-left:auto;
margin-right:auto;
margin-top:10px;
margin-bottom:10px;

 }

.donatediv
 {
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
-moz-box-shadow: 0px 0px 6px #dbdbdb;
-webkit-box-shadow: 0px 0px 6px #dbdbdb;
box-shadow: 0px 0px 6px #dbdbdb;
/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
width:500px;
/*height:400px;*/
/*position: relative;
left: 100px;*/
padding:5px;
margin-left:auto;
margin-right:auto;
margin-top:10px;
margin-bottom:10px;

 }
 
 .contentdiv
 {
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
-moz-box-shadow: 0px 0px 6px #dbdbdb;
-webkit-box-shadow: 0px 0px 6px #dbdbdb;
box-shadow: 0px 0px 6px #dbdbdb;
/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
/*height:400px;*/
/*position: relative;
left: 100px;*/
/*padding:5px;*/
margin-left:auto;
margin-right:auto;
margin-top:10px;
margin-bottom:10px;
 }
 
 .exchangegomb{
	color:#FFF;

	background:#363636; 
border-radius: 1px;    -moz-border-radius: 1px;    -webkit-border-radius: 1px;
	  -o-transition:.5s;
  -ms-transition:.5s;
		-moz-transition:.5s;
	-webkit-transition:.5s;
	padding: 1px;
}
.exchangegomb:hover{
	color:#000;
	background:#717171;
		border-radius: 3px;    -moz-border-radius: 3px;    -webkit-border-radius: 3px;
}

 .required {
  @include transition(all 0.30s ease-in-out);
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  	  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
}
 
.required:focus {
  @include box-shadow(0 0 5px rgba(81, 203, 238, 1));
  	-moz-box-shadow: 0px 0px 6px #51cbee;
-webkit-box-shadow: 0px 0px 6px #51cbee;
box-shadow: 0px 0px 6px #51cbee;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
    -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}